# Google credentials
credentials.json

# Python
__pycache__/
*.pyc

# Django
db.sqlite3
*.db
media/
staticfiles/

# Env
.env

# Logs & temp
*.log

# Data files
*.txt
*.jsonl
*.xlsx

# OS
.DS_Store
Thumbs.db



